@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container-main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #fedc81 60%, #ffffff 40%);
}

.main-geral{
    width: 700px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    background-color: #ffffff;
}

.main-foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    box-shadow: 0 0 5px black;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
}

.main-foto img{
    width: 70px;
}

.main-arquivo{
    padding-top: 70px;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.esquerda-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    gap: 20px;
}

.esquerda-infos label{
    display: flex;
    flex-direction: column;
}

.infos-titulo h3{
    font-weight: 600;
    text-decoration: underline #fedc81;
}

.main-direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    gap: 20px;
}

.direita-complete label{
    display: flex;
}

.direita-complete input{
    display: flex;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.direita-complete input:focus{
    outline: none;
    border: none;
}

.direita-complete button{
    padding: 0.3rem 0.8rem;
    margin-top: 10px;
    border: none;
    background-color: #fedc81;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}